<template>
  <Component
    :is="dialog.component"
    v-for="(dialog) in dialogs"
    :key="dialog.id"
    v-bind="dialog.props"
    @update:model-value="onClose(dialog.id)"
  />
</template>

<script>
import { defineComponent, inject } from 'vue'

const dialogInjectionFallback = {
  dialogs: [],
  removeDialog: () => {}
}
const dialogInjectionKey = Symbol('dialogInjectionKey')

const errorLogger = {
  pluginIsNotInitialized: () => {
    console.error('Plugin is not initialized')
  }
}

export default defineComponent({
  name: 'GDialogRoot',
  setup() {
    const {
      dialogs = [],
      removeDialog = () => {}
    } = inject(dialogInjectionKey, dialogInjectionFallback)

    if (dialogs === dialogInjectionFallback.dialogs) {
      errorLogger.pluginIsNotInitialized()
    }

    function onClose(id) {
      removeDialog(id)
    }

    return {
      dialogs,
      onClose
    }
  }
})
</script>
